.container {
  height: 100vh;
  margin: 0;
}

.mainImg {
  object-fit: contain;
  width: 90%;
  height: 100%;
}

.logo {
  object-fit: contain;
  width: 25%;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
